<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>
<div class="upperPanel">
    <footer class="f2">

        <img class="imd" src="assets/images/orange.png">

        <span class="  menu  phone">(044) 222 5 222</span>
        <span class="  time menu hidden-sm hidden-xs">24 години/7 днів на тиждень</span>
        <span class="  cool menu hidden-md  hidden-sm  hidden-xs">Безкоштовна доставка піци</span>

        <button type="button" id="login" class="btn btn-warning pull-right menu">Ввійти</button>

    </footer>
</div>

