<div class="col-md-3 right-panel">
    <span class="pizzaa-list">Замовлення</span>
    <span> <button type="button" id="clear_all" class="btn btn-default pull-right menu">Очистити замовлення</button></span>
    <hr>
    <div  id="card"></div>
    <hr>
    <strong class="total-to-pay"> До сплати:   </strong>
    <span id="totality"><strong>0 грн</strong></span>
    <div><button class="btn btn-warning medium pay-me" type="button">Замовити</button></div>
    <div><button class="btn btn-warning medium edit-me" type="button">Редагувати замовлення</button></div>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
