<div class="order-one ng-scope">
<table>
            <tr>
              <th> <span class="caption"><%= pizza.title %> (<%= size %>)</span></th>
            </tr>
            <tr>
                <td> <span><img class="img-aside pizza-icon"  alt="Піца" style= "weight:200px; height: 200px; margin-top: 2%; "src="assets/images/pizza_2.jpg"></span></td>
                <td></td>
            </tr>
            <tr>

                <td> <span class="price">
                              <div class="order-text">
                                  <img class="diam-image" src="assets/images/size-icon.svg">
                                  <span class="">30</span>
                                  <img class="weight-image" src="assets/images/weight.svg">
                                  <span class="weight">500</span>
                              </div>
                              Ціна: <%= pizza[size].price %> грн.</span></td>

        <td>  <div class="price-box">
                <a class="minus btn btn-xs btn-danger btn-circle" href="#">
                    <i class="glyphicon glyphicon-minus icon-white">
                    </i>
                </a>
                <span class="label order-pizza-count" style="color:black;">1</span>
                <a class="plus btn btn-xs btn-success btn-circle" href="#">
                    <i class="glyphicon glyphicon-plus icon-white">

                    </i>
                </a>
                <a class="count-clear btn btn-xs btn-default btn-circle" href="#">
                    <i class="glyphicon glyphicon-remove icon-white">
                    </i>
                </a>
            </div></td>
        </tr>
</table>
</div>
