.pizza-card {
  img {
    max-width: 250px;
  }

  .title {
    font-weight:bold;
    font-size:30px;
    font-family: Arial;
    color: @mainColor;
//    background-color: lighten(@mainColor, 45%);
  }
}

.description{
  font-size:15px;
  font-family: Arial;
  color:#5F6C70;
  font-style: italic;
}