.pizza-card {
  img {
    max-width: 250px;
  }

  h3 {
    font-weight:bold;
    font-size:30px;
    font-family: Arial;
    color: @mainColor;
//    background-color: lighten(@mainColor, 45%);
  }
}